<h1>Name : <%= @repository_name %></h1>
<h1>Description : <%= @repository_description %></h1>
<script type="text/javascript">
  $(function() {
    loadGraph("<%=@commit_history_array %>", "<%=@repository_name%>");
  });
</script>
<div class="row">
  <div class="large-7 medium-7 small-12 columns" id="chart">
    <ol id="langDetails"></ol>
  </div>
</div>
